
<!--[form:question]-->
<table>
    <tr>
        <td valign="top"><b>Text</b></td>
        <td><%= text_area 'question', 'text', :rows => 10, :cols => 40 %></td>
    </tr>
</table>
<!--[eoform:question]-->

