<tr>
		<td class="icons">
			<%= link_to image_tag("/icons/edit.png"), :action => 'edit', :id => @grade %>
			<%= link_to image_tag("/icons/delete.png"), {:action => 'destroy', :id => @grade}, :confirm => "Are you sure?" %>
		</td>
		<td class="text">
			<b><%= @grade.letter %></b> ( <%= @grade.top %>% - <%= @grade.bottom %>% )
		</td>
</tr>