
<!--[form:forum]-->
<table>
    <tr>
        <td valign="top"><b>Grade Letter</b></td>
        <td><%= text_field 'grade', 'letter' %></td>
    </tr>
    <tr>
        <td valign="top"><b>Top Percent</b></td>
        <td><%= text_field 'grade', 'top' %></td>
    </tr>
    <tr>
        <td valign="top"><b>Bottom Percent</b></td>
        <td><%= text_field 'grade', 'bottom' %></td>
    </tr>
</table>
<!--[eoform:forum]-->

